@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cormorant Garamond';
  src: url("../fonts/CormorantGaramond-Regular.ttf");
}
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.ttf");
}
* {
	font-family: "Cormorant Garamond", Georgia, serif;
	font-weight: 400;
     margin:0;
     padding:0;
     color:#fff;
}
/*
.container {
	width: 1170px;
}
*/
ul{
     list-style-type: none;
}
a{
     text-decoration: none;
}
h2 {
	font-family: "Cormorant Garamond", Georgia, serif;
	font-size: 30px;
	line-height: 1.1;
	color: #fff;
}
#page {
	overflow-x: hidden;
}
/*闪动*/
@keyframes bounceIn{
	0% {

    opacity: 0;
    -webkit-transform: scale(.3);
    -moz-transform: scale(.3);
    -ms-transform: scale(.3);
    -o-transform: scale(.3);
    transform: scale(.3);

	}
	50% {

	    opacity: 1;
	    -webkit-transform: scale(1.05);
	    -moz-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	    -o-transform: scale(1.1);
	    transform: scale(1.1);

	}
	70% {

	    -webkit-transform: scale(.9);
	    -moz-transform: scale(.9);
	    -ms-transform: scale(.9);
	    -o-transform: scale(.9);
	    transform: scale(.9);

	}
	100% {

	    opacity: 1;
	    -webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    -ms-transform: scale(1);
	    -o-transform: scale(1);
	    transform: scale(1);

	}
	}
.zizi h1,.zizi h2 {
	animation: bounceIn 1.2s 1;
	visibility: visible;
}

@keyframes appear {
	0%{
		opacity: 0;
		-webkit-transform: scale(.5);
	    -moz-transform: scale(.5);
	    -ms-transform: scale(.5);
	    -o-transform: scale(.5);
		transform: scale(.5);
	}
	100%{
		opacity: 1;
		-webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    -ms-transform: scale(1);
	    -o-transform: scale(1);
		transform: scale(1);
	}
}
.one {
	-webkit-animation: appear 1s 1;
	-moz-animation: appear 1s 1;
	-ms-animation: appear 1s 1;
	-o-animation: appear 1s 1;
	animation: appear 1s 1;
}
@keyframes change {
	0%{
		opacity: 0.3;
	}
	100%{
		opacity: 1;
	}
}
.show img,.hide img{
	-webkit-animation: change 2s 1;
	-moz-animation: change 2s 1;
	-ms-animation: change 2s 1;
	-o-animation: change 2s 1;
	animation: change 2s 1;
}